---
import Layout from "../components/Layout.astro";
import Box from "../components/Box.astro";
import { vars } from "../vars.css";
import Chip from "../components/Chip.astro";
import SlideShowAvatar from "../components/SlideShowAvatar.astro";
import {
  faKeyboard,
  faCodeMerge,
  faScroll,
  faObjectGroup,
  faBookOpenReader,
  faDumbbell,
} from "@fortawesome/free-solid-svg-icons";
import Icon from "../components/Icon.astro";
import {
  faGithub,
  faThreads,
  faMastodon,
  faLinkedin,
} from "@fortawesome/free-brands-svg-icons";
import disc from "../components/disc";
import * as styles from "./index.css";
---

<Layout>
  <div class={styles.grid}>
    <Box
      gridArea="bio"
      as="p"
      textAlign={{ _: "center", md: "left" }}
      style={{ textWrap: "pretty" }}
    >
      <strong>Hey, I'm Rogin!</strong> I'm a software engineer based in sunny
      San Diego, CA. I'm passionate about design systems, developer tooling, and
      web accessibility. I enjoy playing ultimate frisbee, weight-lifting, and
      building mechanical keyboards in my free time.
    </Box>
    <Box
      gridArea="pic"
      display="flex"
      alignItems="center"
      justifyContent="center"
    >
      <SlideShowAvatar />
    </Box>
    <Box
      gridArea="chips"
      display="flex"
      gap="$3"
      flexWrap="wrap"
      mb="$7"
      fontSize="$lg"
    >
      <Chip icon={faKeyboard} iconColor="$blue9">
        Mechanical Keyboard Enthusiast
      </Chip>
      <Chip icon={faBookOpenReader} iconColor="$green9">Self Taught</Chip>
      <Chip icon={faCodeMerge} iconColor="$orange9">Open Sourcerer</Chip>
      <Chip icon={faObjectGroup} iconColor="$purple9">Design Systems</Chip>
      <Chip icon={disc} iconColor="$blue10">Ultimate Frisbee</Chip>
      <Chip icon={faDumbbell} iconColor="$gray9">Weight-lifter</Chip>
      <Chip icon={faScroll} iconColor="$red9">History Nerd</Chip>
    </Box>
  </div>
  <Box display="flex" justifyContent="space-evenly">
    <Box as="a" href="https://github.com/roginfarrer" class={styles.socialIcon}>
      <Icon icon={faGithub} size="2em" title="GitHub" />
    </Box>
    <Box
      as="a"
      href="https://www.linkedin.com/in/roginfarrer/"
      class={styles.socialIcon}
    >
      <Icon icon={faLinkedin} size="2em" title="LinkedIn" />
    </Box>
    <Box
      as="a"
      href="https://www.threads.net/@roginfarrer"
      class={styles.socialIcon}
    >
      <Icon icon={faThreads} size="2em" title="Threads" />
    </Box>
    <Box as="a" href="https://hachyderm.io/@rogin" class={styles.socialIcon}>
      <Icon icon={faMastodon} size="2em" title="Mastodon" />
    </Box>
  </Box>
</Layout>

<script>
  // Update the chip icon colors with random colors
  import { vars } from "../vars.css";
  const iconColors: (keyof typeof vars.colors)[] = [
    "green9",
    "blue10",
    "red9",
    "orange9",
    "purple9",
  ];
  const icons = document.querySelectorAll(
    `[data-chip-icon]`,
  ) as NodeListOf<HTMLElement>;

  function randomInRange(min: number, max: number) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  icons.forEach((node) => {
    function run() {
      let timeout = randomInRange(4000, 8000);
      setTimeout(() => {
        const random = randomInRange(0, iconColors.length - 1);
        node.style.setProperty("color", vars.colors[iconColors[random]]);
        run();
      }, timeout);
    }
    run();
  });
</script>
