---
import Icon from "./Icon.astro";
import { faStar } from "@fortawesome/free-solid-svg-icons";
import { box } from "../box";
import Card from "./Card.astro";

const { title, href, desc, repo } = Astro.props;
---

<Card
  title={title}
  href={href}
  desc={desc}
  data-project-card-repo={repo}
  {...box({ height: { _: "250px", md: "275px" } })}
>
  <span
    {...box({ display: "flex", alignItems: "center", gap: "$2", mt: "auto" })}
  >
    <Icon icon={faStar} size="1em" />
    <span class="project-card-stars">0</span>
  </span>
</Card>
