---
import Box from "./Box.astro";
import Icon from "./Icon.astro";
import Badge from "./Badge.astro";
import { faStar } from "@fortawesome/free-solid-svg-icons";
import Card from "./Card.astro";
import { ArrowUpRight } from "lucide-react";
import { css } from "styled-system/css";

const { title, href, desc, repo, emoji, tags = [] } = Astro.props;

type Props = {
  title: string;
  href: string;
  desc: string;
  repo: string;
  emoji: string;
  tags?: string[];
};

const isExternalLink = !href.startsWith("/") || !href.startsWith("#");
---

<Card
  href={href}
  data-project-card-repo={repo}
  minHeight={{ _: "250px", md: "275px" }}
>
  <span
    class={css({
      display: "block",
      textStyle: "xl",
      fontWeight: "bold",
      mb: "4",
    })}
  >
    <Box as="span" display="flex" justifyContent="space-between">
      <span>
        <Box as="span" mixBlendMode="normal" typeScale="$2xl" display="block">
          {emoji}
        </Box>
        {title}
      </span>
      <ArrowUpRight strokeWidth="1" />
    </Box>
  </span>
  <span class={css({ display: "block", fontStyle: "italic" })}>
    {desc}
  </span>
  {
    tags.length > 0 && (
      <Box as="span" display="flex" gap="$2">
        {tags.map((tag) => (
          <Badge>{tag}</Badge>
        ))}
      </Box>
    )
  }
  {
    isExternalLink && (
      <Box as="span" display="flex" alignItems="center" gap="$2" mt="auto">
        <Icon icon={faStar} size="1em" />
        <span class="project-card-stars">0</span>
      </Box>
    )
  }
</Card>
