---
import Icon from "./Icon.astro";
import { vars } from "../vars.css";
import Box from "./Box.astro";
import { faStar } from "@fortawesome/free-solid-svg-icons";

const { title, href, desc, repo } = Astro.props;
---

<Box
  as="a"
  href={href}
  border={`2px solid ${vars.colors.gray7}`}
  height={{ _: "250px", md: "275px" }}
  p="$4"
  borderRadius="$base"
  transition=".2s border-color ease, .2s transform ease"
  transform={{ hover: "rotate(-4deg) scale(1.05)" }}
  display="flex"
  flexDirection="column"
  justifyContent="space-between"
  data-project-card-repo={repo}
>
  <span>
    <Box as="span" display="block" type="$xl" fontWeight="$bold" mb="$4">
      {title}
    </Box>
    <Box as="span" type="$md" display="block" fontStyle="italic">
      {desc}
    </Box>
  </span>
  <Box as="span" display="flex" alignItems="baseline" gap="$2" mt="$4">
    <Icon icon={faStar} size="1em" />
    <span class="project-card-stars">0</span>
  </Box>
</Box>
