---
import Box from "./Box.astro";
import Icon from "./Icon.astro";
import Badge from "./Badge.astro";
import { faStar } from "@fortawesome/free-solid-svg-icons";
import Card from "./Card.astro";
import { ArrowUpRight } from "lucide-react";

const { title, href, desc, repo, emoji, tags = [] } = Astro.props;

type Props = {
  title: string;
  href: string;
  desc: string;
  repo: string;
  emoji: string;
  tags?: string[];
};
---

<Card
  href={href}
  desc={desc}
  data-project-card-repo={repo}
  minHeight={{ _: "250px", md: "275px" }}
>
  <Box as="span" slot="title" display="flex" justifyContent="space-between">
    <span>
      <Box
        as="span"
        mixBlendMode="normal"
        typeScale="$2xl"
        display="block"
        style={{ isolation: "isolate" }}
      >
        {emoji}
      </Box>
      {title}
    </span>
    <ArrowUpRight strokeWidth="1" />
  </Box>
  {
    tags.length > 0 && (
      <Box as="span" display="flex" gap="$2">
        {tags.map((tag) => (
          <Badge>{tag}</Badge>
        ))}
      </Box>
    )
  }
  <Box as="span" display="flex" alignItems="center" gap="$2" mt="auto">
    <Icon icon={faStar} size="1em" />
    <span class="project-card-stars">0</span>
  </Box>
</Card>
