---
import Badge from "./Badge.astro";
import { faStar } from "@fortawesome/free-solid-svg-icons";
import Card from "./Card.astro";
import { ArrowUpRight } from "lucide-react";
import { css } from "styled-system/css";
import { flex } from "styled-system/patterns";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";

const { title, href, desc, repo, emoji, tags = [] } = Astro.props;

type Props = {
  title: string;
  href: string;
  desc: string;
  repo: string;
  emoji: string;
  tags?: string[];
};

const isExternalLink = !href.startsWith("/") || !href.startsWith("#");
---

<Card
  href={href}
  data-project-card-repo={repo}
  class={css({ minHeight: { base: "250px", md: "275px" } })}
>
  <span
    class={css({
      display: "block",
      textStyle: "xl",
      fontWeight: "bold",
      mb: "4",
    })}
  >
    <span class={flex({ justify: "space-between" })}>
      <span>
        <span
          class={css({
            mixBlendMode: "normal",
            textStyle: "2xl",
            display: "block",
          })}
        >
          {emoji}
        </span>
        {title}
      </span>
      <ArrowUpRight strokeWidth="1" />
    </span>
  </span>
  <span class={css({ display: "block", fontStyle: "italic" })}>
    {desc}
  </span>
  {
    tags.length > 0 && (
      <span class={flex({ gap: "2" })}>
        {tags.map((tag) => (
          <Badge>{tag}</Badge>
        ))}
      </span>
    )
  }
  {
    isExternalLink && (
      <span class={flex({ align: "center", gap: "2", mt: "auto" })}>
        <FontAwesomeIcon icon={faStar} className={css({ size: "1em" })} />
        <span class="project-card-stars">0</span>
      </span>
    )
  }
</Card>
