---
import { faChevronDown } from "@fortawesome/free-solid-svg-icons";
import { css } from "styled-system/css";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";

const { label, id, "data-id": dataId, ...props } = Astro.props;

interface Props {
  label: string;
  id?: string;
  "data-id"?: string;
}
---

<label
  class={css({
    textStyle: "sm",
    textAlign: "left",
    position: "relative",
    border: "2px solid token(colors.gray6)",
    borderRadius: "lg",
    bg: "gray2",
    cursor: "auto",
    height: 44,
    minWidth: "150px",
    _focusWithin: {
      outline: "2px solid token(colors.accent9)",
      outlineOffset: "1px",
    },
  })}
  {...props}
>
  <span
    class={css({
      whiteSpace: "nowrap",
      fontSize: "0.8em",
      color: "gray11",
      position: "absolute",
      left: 2,
      top: 0,
    })}
  >
    {label}
  </span>
  <select
    data-id={dataId}
    name={dataId}
    class={css({
      textAlign: "left",
      appearance: "none",
      position: "absolute",
      bottom: 0,
      left: 0,
      pl: "2",
      pt: "22px",
      pb: 1,
      width: "100%",
      whiteSpace: "nowrap",
      _focusVisible: { outline: "none" },
    })}
    id={id}
  >
    <slot />
  </select>
  <FontAwesomeIcon
    className={css({
      alignSelf: "center",
      position: "absolute",
      right: 2,
      top: "50%",
      translate: "0 -50%",
      pointerEvents: "none",
      size: "1em",
      strokeWidth: "3px",
    })}
    aria-hidden="true"
    icon={faChevronDown}
  />
</label>
