---
import Box from "../components/Box.astro";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import "../styles/global.css";
import * as styles from "./Layout.css";
import SettingsForm from "components/SettingsForm.astro";
import { css } from "../../styled-system/css";
import StickyMobileHeader from "components/StickyMobileHeader.astro";

const isHome = Astro.url.pathname === "/";

const headerLinks = [
  { title: "Home", url: "/" },
  { title: "Blog", url: "/blog" },
  { title: "Work", url: "/work" },
  { title: "/uses", url: "/uses" },
];

const {
  title,
  description = "Rogin Farrer is a frontend engineer based in San Diego, CA.",
} = Astro.props;

type Props = {
  title?: string;
  description?: string;
};
---

<script>
  import { actions } from "../store";
  import { setupForm } from "../components/SettingsForm.astro";

  const onPageLoad = (doc = document) => {
    setupForm(doc.querySelector("footer")!);
    actions.updateTheme(undefined, doc);
    actions.updateColor(undefined, doc);
    actions.updateFont(undefined, doc);
  };

  onPageLoad();

  document.addEventListener("astro:before-swap", (ev) => {
    // @ts-expect-error
    onPageLoad(ev.newDocument);
  });
</script>

<html lang="en" transition:persist="html">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <Box
    as="body"
    pb={{ _: "$9", md: "$7" }}
    display="flex"
    flexDirection="column"
    pt={{ _: "$6", sm: "$8" }}
  >
    <a href="#main" class={styles.skipToContent}>Skip to Content</a>
    {!isHome && <div class={styles.halo} />}
    <StickyMobileHeader links={headerLinks} />
    <div
      class={css({
        width: "pageWidth",
        mx: "auto",
        mb: "6",
        display: { base: "none", sm: "flex" },
      })}
    >
      <Header links={headerLinks} />
    </div>
    <main
      id="main"
      class={css({
        m: "0 auto",
        mb: "8",
        width: "pageWidth",
        flex: "1",
      })}
    >
      <slot />
    </main>
    <footer class={css({ mt: "auto", mx: "auto", width: "pageWidth" })}>
      <hr
        class={css({
          height: 2,
          bg: "gray6",
          my: "4",
          width: "100%",
        })}
      />
      <div
        class={css({
          display: "flex",
          flexDirection: { base: "column", md: "row-reverse" },
          gap: "4",
          justifyContent: "space-between",
          alignItems: "center",
          textAlign: "center",
        })}
      >
        <Box
          gap="$4"
          justifyContent="center"
          display={{ _: "none", sm: "flex" }}
        >
          <SettingsForm />
        </Box>
        <Box typeScale="$sm" color="$gray11">
          © {new Date().getFullYear()} Rogin Farrer. All rights reserved.
        </Box>
      </div>
    </footer>
  </Box>
</html>
