---
import Box from "../components/Box.astro";
import Header from "../components/Header.astro";
import { darkTheme } from "../styles/vars.css";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";
import "../styles/panda.css";
import Select from "../components/Select.astro";
import { supportedFontClasses, supportedFonts } from "../vars.css";
import * as styles from "./Layout.css";

const isHome = Astro.url.pathname === "/";
---

<script>
  document.addEventListener("astro:page-load", () => {
    const fontSwitcher = document.querySelector(
      "#font-switcher",
    ) as HTMLSelectElement;
    const colorSwitcher = document.querySelector(
      "#accent-color-switcher",
    ) as HTMLSelectElement;
    const themeSwitcher = document.querySelector(
      "#theme-select-switcher",
    ) as HTMLSelectElement;

    colorSwitcher.value =
      localStorage.getItem("theme-accent-color") ?? colorSwitcher.value;
    fontSwitcher.value = localStorage.getItem("font") ?? fontSwitcher.value;
    themeSwitcher.value = localStorage.getItem("theme") ?? themeSwitcher.value;

    themeSwitcher.addEventListener("change", (ev) => {
      // @ts-expect-error
      const newValue = ev.target.value;
      // @ts-expect-error
      window.updateTheme(newValue);
    });
    fontSwitcher.addEventListener("change", (ev) => {
      // @ts-expect-error
      const newValue = ev.target.value;
      // @ts-expect-error
      window.updateFont(newValue);
    });
    colorSwitcher.addEventListener("change", (ev) => {
      // @ts-expect-error
      const newColor = ev.target.value;
      // @ts-expect-error
      window.updateAccentColor(newColor);
    });
  });
</script>

<html lang="en" class:list={[darkTheme]} transition:persist="html">
  <head>
    <script is:inline>
      function setup(doc = document) {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        const storedTheme = localStorage.getItem("theme");

        if (storedTheme && storedTheme !== "system") {
          if (storedTheme === "light") {
            doc.documentElement.classList.remove("dark");
          } else if (storedTheme === "dark") {
            doc.documentElement.classList.add("dark");
          }
        } else {
          doc.documentElement.classList[prefersDark ? "add" : "remove"]("dark");
          window.localStorage.setItem("theme", "system");
        }
      }

      setup();

      document.addEventListener("astro:before-swap", (ev) => {
        setup(ev.newDocument);
      });
    </script>

    <script is:inline>
      const supportedFontClasses = [
        "inter",
        "karla",
        "space",
        "crimson",
        "bitter",
        "system",
        // "MonaspaceNeon",
        // "Helvetica",
        // "Geist",
        // "Georgia",
        // "ZedMono",
      ];
      function updateFont(newValue, doc = document) {
        doc.documentElement.classList.remove(...supportedFontClasses);
        if (newValue) {
          localStorage.setItem("font", newValue);
          doc.documentElement.classList.add(newValue);
        }
      }

      function updateTheme(value, doc = document) {
        const element = doc.documentElement;
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;

        if (value !== "system") {
          if (value === "light") {
            element.classList.remove("dark");
          } else if (value === "dark") {
            element.classList.add("dark");
          }
        } else {
          console.log(prefersDark, element);
          // element.classList[prefersDark ? "add" : "remove"]("dark");
          window.localStorage.setItem("theme", "system");
        }
      }

      function updateAccentColor(newColor, doc = document) {
        doc.documentElement.classList.remove("red", "blue", "green", "purple");
        if (newColor) {
          localStorage.setItem("theme-accent-color", newColor);
          doc.documentElement.classList.add(newColor);
        }
      }

      const storedFont = localStorage.getItem("font");
      if (storedFont) {
        updateFont(storedFont);
      }

      const storedColor = localStorage.getItem("theme-accent-color");
      if (storedColor) {
        updateAccentColor(storedColor);
      }

      document.addEventListener("astro:before-swap", (ev) => {
        const storedFont = localStorage.getItem("font");
        const storedColor = localStorage.getItem("theme-accent-color");
        const theme = localStorage.getItem("theme");

        if (storedFont) {
          updateFont(storedFont, ev.newDocument);
        }

        if (storedColor) {
          updateAccentColor(storedColor, ev.newDocument);
        }
        const fontSwitcher = ev.newDocument.querySelector("#font-switcher");
        const colorSwitcher = ev.newDocument.querySelector(
          "#accent-color-switcher",
        );
        const themeSwitcher = ev.newDocument.querySelector(
          "#theme-select-switcher",
        );
        colorSwitcher.value = storedColor;
        fontSwitcher.value = storedFont;
        themeSwitcher.value = theme;
      });

      window.updateFont = updateFont;
      window.updateAccentColor = updateAccentColor;
      window.updateTheme = updateTheme;
    </script>

    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Box
    as="body"
    data-font-classes={supportedFontClasses.join(",")}
    pb={{ _: "$9", md: "$7" }}
  >
    <a href="#main" class={styles.skipToContent}>Skip to Content</a>
    {!isHome && <div class={styles.halo} />}
    <Header />
    <Box
      as="main"
      id="main"
      m="0 auto"
      mb="$8"
      mt={!isHome ? "$8" : 0}
      maxWidth={{ _: "min(800px, 85vw)", md: "min(1200px, 85vw)" }}
    >
      <slot />
    </Box>
    <Box as="footer" textAlign="center">
      <Box mb="$4" display="flex" gap="$4" justifyContent="center">
        <Select label="Font" id="font-switcher">
          {
            Object.entries(supportedFonts).map(([className, name]) => (
              <option value={className}>{name.replace(" Variable", "")}</option>
            ))
          }
        </Select>
        <Select label="Accent Color" id="accent-color-switcher">
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="purple">purple</option>
          <option value="red">Red</option>
        </Select>
        <Select label="Theme" id="theme-select-switcher">
          <option value="system">System</option>
          <option value="dark">Dark</option>
          <option value="light">Light</option>
        </Select>
      </Box>
      <Box type="$sm" color="$gray11">
        © {new Date().getFullYear()} Rogin Farrer. All rights reserved.
      </Box>
    </Box>
  </Box>
</html>
