---
import Box from "../components/Box.astro";
import Header from "../components/Header.astro";
import { darkTheme } from "../styles/vars.css";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";
import Select from "../components/Select.astro";
import { vars, supportedFontClasses, supportedFonts } from "../vars.css";
import * as styles from "./Layout.css";

const isHome = Astro.url.pathname === "/";
---

<script>
  document.addEventListener("astro:page-load", () => {
    const fontSwitcher = document.querySelector(
      "#font-switcher",
    ) as HTMLSelectElement;
    const themeSwitcher = document.querySelector(
      "#accent-color-switcher",
    ) as HTMLSelectElement;

    themeSwitcher.value =
      localStorage.getItem("theme-accent-color") ?? themeSwitcher.value;
    fontSwitcher.value = localStorage.getItem("font") ?? fontSwitcher.value;

    fontSwitcher.addEventListener("change", (ev) => {
      // @ts-expect-error
      const newValue = ev.target.value;
      // @ts-expect-error
      window.updateFont(newValue);
    });
    themeSwitcher.addEventListener("change", (ev) => {
      // @ts-expect-error
      const newColor = ev.target.value;
      // @ts-expect-error
      window.updateAccentColor(newColor);
    });
  });
</script>

<html lang="en" class:list={[darkTheme]} transition:persist="html">
  <head>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }

      window.localStorage.setItem("theme", theme);
    </script>

    <script is:inline>
      const supportedFontClasses = [
        "inter",
        "karla",
        "space",
        "system",
        // "MonaspaceNeon",
        // "Helvetica",
        // "Geist",
        // "Georgia",
        // "ZedMono",
      ];
      function updateFont(newValue, doc = document) {
        doc.documentElement.classList.remove(...supportedFontClasses);
        if (newValue) {
          localStorage.setItem("font", newValue);
          doc.documentElement.classList.add(newValue);
        }
      }

      function updateAccentColor(newColor, doc = document) {
        doc.documentElement.classList.remove("red", "blue", "green", "purple");
        if (newColor) {
          localStorage.setItem("theme-accent-color", newColor);
          doc.documentElement.classList.add(newColor);
        }
      }

      const storedFont = localStorage.getItem("font");
      if (storedFont) {
        updateFont(storedFont);
      }

      const storedColor = localStorage.getItem("theme-accent-color");
      if (storedColor) {
        updateAccentColor(storedColor);
      }

      document.addEventListener("astro:before-swap", (ev) => {
        const storedFont = localStorage.getItem("font");
        const storedColor = localStorage.getItem("theme-accent-color");
        const theme = localStorage.getItem("theme");

        if (theme === "dark") {
          ev.newDocument.documentElement.classList.add("dark");
        }

        if (storedFont) {
          updateFont(storedFont, ev.newDocument);
        }

        if (storedColor) {
          updateAccentColor(storedColor, ev.newDocument);
        }
        const fontSwitcher = ev.newDocument.querySelector("#font-switcher");
        const themeSwitcher = ev.newDocument.querySelector(
          "#accent-color-switcher",
        );
        themeSwitcher.value = storedColor;
        fontSwitcher.value = storedFont;
      });

      window.updateFont = updateFont;
      window.updateAccentColor = updateAccentColor;
    </script>

    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Box
    as="body"
    data-font-classes={supportedFontClasses.join(",")}
    pb={{ _: "$9", md: "$7" }}
  >
    {!isHome && <div class={styles.halo} />}
    <Header />
    <Box
      as="main"
      m="0 auto"
      px="$5"
      mb="$8"
      mt={!isHome ? "$8" : 0}
      maxWidth={{ _: "800px", md: "1200px" }}
    >
      <slot />
    </Box>
    <Box as="footer" textAlign="center">
      <Box mb="$4" display="flex" gap="$4" justifyContent="center">
        <Select label="Font" id="font-switcher">
          {
            Object.entries(supportedFonts).map(([className, name]) => (
              <option value={className}>{name}</option>
            ))
          }
        </Select>
        <Select label="Accent Color" id="accent-color-switcher">
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="purple">purple</option>
          <option value="red">Red</option>
        </Select>
      </Box>
      <Box type="$sm" color="$gray11">
        © {new Date().getFullYear()} Rogin Farrer. All rights reserved.
      </Box>
    </Box>
  </Box>
</html>
