---
import Header from "components/Header.astro";
import BaseHead from "components/BaseHead.astro";
import SettingsForm from "components/SettingsForm.astro";
import { css } from "styled-system/css";
import { flex } from "styled-system/patterns";
import StickyMobileHeader from "components/StickyMobileHeader.astro";

const isHome = Astro.url.pathname === "/";

const headerLinks = [
  { title: "Home", url: "/" },
  { title: "Blog", url: "/blog" },
  { title: "Work", url: "/work" },
  { title: "/uses", url: "/uses" },
];

const {
  title,
  description = "Rogin Farrer is a frontend engineer based in San Diego, CA.",
} = Astro.props;

type Props = {
  title?: string;
  description?: string;
};
---

<script>
  import { actions } from "../store";
  import { setupForm } from "components/setupSettingsForm";

  const onPageLoad = (doc = document) => {
    setupForm(doc.querySelector("footer")!);
    actions.updateTheme(undefined, doc);
    actions.updateColor(undefined, doc);
    actions.updateFont(undefined, doc);
  };

  onPageLoad();

  document.addEventListener("astro:before-swap", (ev) => {
    // @ts-expect-error
    onPageLoad(ev.newDocument);
  });
</script>

<html lang="en" transition:persist="html">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class={flex({
      pb: { base: "9", md: "7" },
      direction: "column",
      pt: { base: "6", sm: "8" },
    })}
  >
    <a
      href="#main"
      class={css({
        position: "fixed",
        left: "4",
        top: "4",
        borderRadius: "base",
        padding: "4",
        backgroundColor: "accent11",
        // eslint-disable-next-line @pandacss/no-unsafe-token-fn-usage
        border: `2px solid {colors.accent10}`,
        color: "gray1",
        opacity: 0,
        maxHeight: 1,
        maxWidth: 1,
        scale: ".01%",
        zIndex: "-1",
        _focus: {
          opacity: 1,
          scale: "100%",
          maxHeight: "100%",
          maxWidth: "100%",
          zIndex: 10,
        },
      })}>Skip to Content</a
    >
    {
      !isHome && (
        <div
          class={css({
            "--halo-color": {
              base: "colors.accent5",
              _dark: "colors.accent3",
            },
            // eslint-disable-next-line
            background:
              "radial-gradient(ellipse at top left, var(--halo-color), rgba(255, 255, 255, 0) 25%)",
            backgroundSize: "150%",
            position: "absolute",
            zIndex: "-1",
            inset: 0,
          })}
        />
      )
    }
    <StickyMobileHeader links={headerLinks} />
    <div
      class={css({
        width: "pageWidth",
        mx: "auto",
        mb: "6",
        display: { base: "none", sm: "flex" },
      })}
    >
      <Header links={headerLinks} />
    </div>
    <main
      id="main"
      class={css({
        m: "0 auto",
        mb: "8",
        width: "pageWidth",
        flex: "1",
      })}
    >
      <slot />
    </main>
    <footer class={css({ mt: "auto", mx: "auto", width: "pageWidth" })}>
      <hr
        class={css({
          height: 2,
          bg: "gray6",
          my: "4",
          width: "100%",
        })}
      />
      <div
        class={css({
          display: "flex",
          flexDirection: { base: "column", md: "row-reverse" },
          gap: "4",
          justifyContent: "space-between",
          alignItems: "center",
          textAlign: "center",
        })}
      >
        <div
          class={css({
            display: { base: "none", sm: "flex" },
            gap: "4",
            justifyContent: "center",
          })}
        >
          <SettingsForm />
        </div>
        <div class={css({ textStyle: "sm", color: "gray11" })}>
          © {new Date().getFullYear()} Rogin Farrer. All rights reserved.
        </div>
      </div>
    </footer>
  </body>
</html>
