---
import Layout from "./ContentLayout.astro";
import { mdWrapper } from "./BlogPostLayout.css";
import { TbArrowBigLeftFilled } from "react-icons/tb";
import { css } from "styled-system/css/css.mjs";
import FormattedDate from "components/FormattedDate.astro";

type Props = {
  title: string;
  description?: string;
  updatedDate?: Date;
};

const { title, description, updatedDate } = Astro.props;
---

<Layout title={title} description={description}>
  <a
    href="/uses"
    class={css({
      display: "inline-flex",
      gap: 2,
      alignItems: "center",
      justifyContent: "flex-start",
      color: "gray11",
      mb: "1",
      fontWeight: "bold",
    })}><TbArrowBigLeftFilled />Stuff I use</a
  >
  <article class:list={[mdWrapper]}>
    <header>
      <h1 class={css({ mb: "0 !important" })}>{title}</h1>
      <p class={css({ color: "gray11", mb: "2 !important" })}>{description}</p>
      {
        updatedDate && (
          <p class={css({ fontSize: "sm !important", color: "gray11" })}>
            Updated: <FormattedDate updatedDate date={updatedDate} />
          </p>
        )
      }
    </header>
    <slot />
  </article>
</Layout>
